html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    min-width: 320px;
    max-width: 1225px;
    height: 100%;
    font-size: 16px;
    background-color: #ffffff;
    overflow-x: hidden;
    margin: 0 auto;
    transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
}
.wrapper {
    margin: 0px auto;
    min-height: 100%;
    font-size: 1em;
    display: table;
    border: none;
    border-collapse: collapse;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
	
}

.baner {
    font-size: 1em;
    max-width: 950px;
    width: 100%;
    height: auto;
    background: url("../images/slide_1.jpg") no-repeat top center;
    background-size: cover;
    padding-bottom: 112px;
}
.baner h2 {
    width: 100%;
    height: auto;
    font-size: 3em;
    font-family: 'Raleway','Myriad Pro', sans-serif;
    padding-top: 12.3%;
    color: #ffffff;
    text-align: center;
    margin: 0px auto;
    padding-bottom: 20px;
    white-space: nowrap;
}
.baner h5 {
    width: 66.6%;
    font-size: 0.875em;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    text-align: center;
    margin: 0px auto;
    z-index: 10005;
}
.slideRight {
    animation-name: slideRight;
    -webkit-animation-name: slideRight;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    visibility: visible !important;
}
 @keyframes slideRight {
    0% {
    transform: translateX(-150%);
}
 50% {
    transform: translateX(8%);
}
 65% {
    transform: translateX(-4%);
}
 80% {
    transform: translateX(4%);
}
 95% {
    transform: translateX(-2%);
}
 100% {
    transform: translateX(0%);
}
 }
 @-webkit-keyframes slideRight {
    0% {
    -webkit-transform: translateX(-150%);
}
 50% {
    -webkit-transform: translateX(8%);
}
 65% {
    -webkit-transform: translateX(-4%);
}
 80% {
    -webkit-transform: translateX(4%);
}
 95% {
    -webkit-transform: translateX(-2%);
}
 100% {
    -webkit-transform: translateX(0%);
}
}
.button-more {
    width: 100%;
    text-align: center;
}
.more {
    margin: 50px auto 0px;
    padding: 17px 44px;
    color: #fff;
    font-family: 'Raleway','Myriad Pro', sans-serif;
    background-color: #fb6470;
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 22px;
}
.more:hover {
    color: #4c98a4;
    background-color: #ffffff;
    color: #fb6470;
}
.more:focus {
    background-color: #353541;
    color: #ffffff;
}
.sidebar {
    width: 275px;
    height: 100%;
    background-color: #353541;
    display: table-cell;
    box-sizing: border-box;
}
.right_content {
    max-width: 950px;
    margin-left: 275px;
    width: calc(100% - 275px);
    height: 100%;
    display: table-cell;
    box-sizing: border-box;
    background-color: #ffffff;
    box-sizing: border-box;
    vertical-align: top;
}
.container {
    font-size: 1em;
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    padding: 0 1.56%;
}
 .left_i {
    width: 100%;
    height: auto;
    background: url("../images/foto.jpg") no-repeat top center;
    background-size: cover;
    padding-left: 37px;
    padding-top: 135px;
    box-sizing: border-box;
}
h3 {
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    color: #ffffff;
    vertical-align: bottom;
}
.left_i h3 span {
    font-size: 1em;
}
ul .body-menu {
    white-space: nowrap;
}
.body-menu li {
    list-style: none;
    border: 1px solid #282835;
}
 .body-menu li:hover {
    border: 1px solid #ffffff;
}
 .body-menu li a {
    display: block;
    font-family: 'Raleway';
    font-size: 1.375em;
    text-decoration: none;
    padding: 20px 30px;
    color: #ffffff;
    vertical-align: middle;
}
.body-menu li a:hover {
    background-color: #282835;
}
.body-menu li a:active {
    background-color: #fb6470;
    color: #353541;
}


.body-menu.active {
    max-height: 123px;
}
.main {
    display: block;
    max-width: 950px;
    width: 100%;
    height: auto;
    padding: 8.42% 10% 0% 12.1%;
    box-sizing: border-box;
    margin: 0 auto;
}
.main h2 {
    display: inline-block;
    padding: 0px;
    padding-bottom: 2%;
    margin-bottom: 2%;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    color: #3e3e3e;
    border-bottom: 1px solid #f27982;
}
.right_menu {
    margin-bottom: 68px;
    width: 100%;
    height: 18%;
    white-space: nowrap;
}
.portfolio_menu {
    width: 100%;
}
.portfolio_menu li {
    list-style: none;
}
 .portfolio_menu li a {
    display: block;
    font-family: 'Raleway', sans-serif;
    float: left;
    border-bottom: 1px solid #3e3e3e;
    font-size: 1.125em;
    text-decoration: none;
    padding: 12px 16px;
    color: #3e3e3e;
    width: 25%;
    box-sizing: border-box;
}
.portfolio_menu li a:hover {
    border-bottom: 2px solid #F27982;
}
.block_bottom {
    margin-left: 16px;
}
.slogan {
    width: 42%;
    margin-top: 117px;
    background-color: #;
    margin: 100px auto;
    text-align: center;
    height: auto;
}
.baner h1 {
    font-size: 3.14em;
    font-family: 'HelveticaLTStd-Bold', Georgia, sans-serif;
    text-transform: uppercase;
    color: #e4e4e4;
    text-align: center;
    margin-top: 117px;
}
/*.h1content {
    width: 100%;
    min-height: 56px;
    background:red url("images/h1_bg.png") top center;
    border-bottom: 1px solid #ececec;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding: 0 10px;
    margin: 0;
    line-height: 0.5;
    box-sizing: border-box;
    line-height: 1.6em;
}*/
.menu_active {
    max-width: 450px;
    display: inline-block;
    padding: 15px 25px;
}
.blocks {
    max-width: 740px;
    width: 100%;
    margin-bottom: 8.42%;
    height: auto;
    padding: 1%;
    box-sizing: border-box;
}
.block {
    max-width: 360px;
    width: 48.65%;
    height: auto;
    display: inline-block;
    margin-left: -.36em;
    box-sizing: border-box;
    vertical-align: middle;
    margin-right: 2%;
    margin-bottom: 2.97%;
    padding-bottom: 19px;
}
.block img {
    max-width: 100%;
    height: auto;
    padding-bottom: 3.33%;
}
.block1 {
    background-color: #01b9c3;
    margin-left: 0;
}
.block2 {
    background-color: #1e2e3e;
    margin-right: 0px;
}
.block3 {
    background-color: #3f3d3e;
    margin-left: 0;
}
.block4 {
    background-color: #0093b5;
    margin-right: 0px;
}
.block5 {
    background-color: #353541;
    margin-left: 0;
}
.block6 {
    background-color: #6176ab;
    margin-right: 0px;
}
.block_bottom {
    padding-bottom: 17px;
}
.block_bottom h2 {
    font-size: 1.375em;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    color: #ffffff;
}
.block_bottom h3 {
    font-size: 1.0em;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    margin-bottom: 26px;
    color: #ffffff;
}
.bott {
    width: 100px;
    height: 25px;
    text-align: left;
    padding: 5px 0 8px;
    box-sizing: border-box;
    background: url(../images/arrow.png) no-repeat right center;
    background-size: 5px 8px;
    cursor: pointer;
}
.bott a {
    font-size: 0.875em;
    font-family: 'Raleway', Sans-serif;
    color: #ffffff;
    text-decoration: none;
    display: block;
}
.bott:hover {
    border-bottom: 1px solid #ffffff;
}
.block_foto {
    width: 300px;
    height: 135px;
    margin: 0px auto;
    margin-bottom: 10px;
    font-size: 26px;
    color: #ffffff;
    font-family: 'HelveticaLTStd-Bold'}
.foto_img {
    width: 135px;
    height: 135px;
    float: left;
    margin-right: 36px;
}
.block_foto h3 {
    font-size: 26px;
    color: #ffffff;
}
.foto_z {
    width: 127px;
    height: 92px;
}
.fig1 {
    max-width: 135px;
    height: auto;
    margin-right: 37px;
    float: left;
}
 .contact {
    width: 100%;
    padding-bottom: 11%;
    box-sizing: border-box;
}
.contact_forma {
    width: 46.49%;
    max-width: 344px;
    height: auto;
    float: left;
    border-right: 1px solid #cccccc;
    margin-bottom: 11%;
    box-sizing: border-box;
}
.contact_forma h3 {
    font-size: 1.375em;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    color: #3e3e3e;
    white-space: nowrap;
    padding-bottom: 25px;
}
.more {
    margin: 50px auto;
    padding: 17px 44px;
    color: #fff;
    font-family: 'Raleway','Myriad Pro', sans-serif;
    background-color: #fb6470;
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 22px;
}
.more:hover {
    color: #4c98a4;
    background-color: #ffffff;
    color: #fb6470;
    transition: 3s;
}
.more:focus {
    background-color: #353541;
    color: #ffffff;
}
.contact_forma_width {
    width: 100%;
    padding-right: 18%;
    box-sizing: border-box;
}
.contact_forma form {
    height: auto;
    width: 100%;
}
..contact_forma input, .contact_forma select {
    display: inline-block;
    vertical-align: middle;
    border: none;
    background: none;
    overflow: hidden;
    width: 265px;
}
.contact_forma input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 0.875em;
    color: #3e3e3e;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin-top: 0px;
    padding: 12px 11px;
    background-color: #ffffff;
    border: 1px solid #71717a;
    margin-bottom: 21px;
    box-sizing: border-box;
}
.it {
    font-style: italic;
}
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 0.875em;
    font-style: italic;
    color: #3e3e3e;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin-top: 0px;
    padding: 10px 18px;
    background-color: #ffffff;
    border: 1px solid #71717a;
    
    box-sizing: border-box;
}
input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    font-size: 1.0em;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
    background-color: #fb6470;
    padding: 11px 20px;
    border: none;
	margin-top: 10px;
}
input[type="submit"]:hover {
    color: #4c98a4;
    background-color: #ffffff;
    color: #fb6470;
    transition: 3s;
}
input[type="submit"]:focus {
    background-color: #353541;
    color: #ffffff;
}
.contact_info {
    width: 53.51%;
    height: auto;
    padding-top: -6px;
    padding-left: 7%;
    padding-right: 7%;
    margin-left: 46.49%;
    box-sizing: border-box;
	
}
 .block_info {
    width: 100%;
    height: auto;
    min-height: 50px;
    padding: 0px;
    margin-bottom: 15.15%;
    background-color: #ffffff;
    box-sizing: border-box;
}
.block_info h3 {
    font-size: 1.125em;
    color: #3e3e3e;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
}
 .block_info h5 {
    font-size: 0.865em;
    color: #3e3e3e;
    font-family: 'Raleway', sans-serif;
    white-space: nowrap;
    margin-bottom: 15%;
}
 .i_active {
    float: left;
   margin-right: 10.36%;
    padding: 8px 0px;
}
.block_info block1 {
    margin-bottom: 15.15%;
}
.block_info block2 {
    margin-top: 1px;
    margin-bottom: 60px;
}
.block_info_text {
    width: 100%;
}
footer {
    width: 100%;
    margin: 0px auto;
    padding-top: 20px;
    text-align: center;
    height: 80px;
    box-sizing: border-box;
}
.soc_media {
    margin: 2% auto;
    width: 40%;
    height: 18px;
}
.soc_media ul {
    width: 100%;
    list-style: none;
}
.soc_media li {
    float: left;
    width: 33%;
    text-decoration: none;
}
.soc_media li: second {
    width: 34%;
}
.block-a li a {
    display: block;
    text-align: center;
    font-size: 1em;
    border-right: 1px solid #a3a3a3;
    padding: 0 10px;
    box-sizing: border-box;
}
footer h6 {
    clear: both;
    font-family: 'Raleway', sans-serif;
    font-size: 0.7em;
    color: #3e3e3e;
    background-color: #ffffff;
    white-space: nowrap;
}

@media screen and (max-width: 1090px) {
    .baner h2 {
    width: 100%;
    height: auto;
    font-size: 2.5em;
}
.contact_info {
    width: 60.0%;
}
.contact_forma_width {
    padding-right: 15%;
}
.sidebar {
    width: 230px;
}
.right_content {
    margin-left: 230px;
    width: calc(100% - 230px);
}
}
@media screen and (max-width: 1032px) {
    .main {
    padding-left: 5%;
}
}
@media screen and (max-width: 1002px) {
    .portfolio_menu li a {
    font-size: 1.0em;
    padding: 4.8% 4%;
}
.contact_info {
    padding-left: 2%;
}
.left_i h3 {
    font-size: 1.7em;
}
.left_i h3 span {
    font-size: 0.8em;
}
.baner h2 {
    font-size: 2.0em;
}
.i_active {
    margin-right: 7.0%;
}
}
@media screen and (max-width: 930px) {
    .sidebar {
    width: 250px;
}
.right_content {
    margin-left: 250px;
    width: calc(100% - 250px);
}
}
@media screen and (max-width: 900px) {
    .sidebar {
    width: 220px;
}
.right_content {
    max-width: 950px;
    margin-left: 220px;
    width: calc(100% - 220px);
}
.block_foto {
    margin-bottom: 30px;
}
.aboute p {
    margin: 30px auto;
}
.i_active {
    margin-right: 6.0%;
}
.block_info h3 {
    font-size: 1.0em;
    margin-bottom: 18px;
}
 .block_info h5 {
    font-size: 0.75em;
}
}
@media screen and (max-width: 870px) {
    .i_active {
    margin-right: 4.0%;
}
.contact_forma {
    width: 265px;
    height: auto;
    clear: both;
    padding-right: 0px;
    padding-bottom: 22px;
    border-bottom: 1px solid #cccccc;
    border-right: none;
    margin-bottom: 0px;
    margin: 0px auto;
    margin-bottom: 110px;
}
.contact_info {
    width: 396px;
    height: auto;
    padding-top: -6px;
    padding-left: 0%;
    margin-left: 0px;
    margin: 0px auto;
}
 .block_info {
    width: 100%;
    height: auto;
    min-height: 50px;
    margin-bottom: 60px;
    display: block;
    clear: both;
    margin: 0px auto;
}
.block_info h3 {
    font-size: 1.125em;
    color: #3e3e3e;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
}
 .block_info h5 {
    font-size: 0.875em;
    color: #3e3e3e;
    font-family: 'Raleway', sans-serif;
}
 .i_active {
    float: left;
    margin-right: 11.36%;
    padding: 8px 0px;
}
}
@media screen and (max-width: 830px) {
    .sidebar {
    width: 230px;
}
.right_content {
    margin-left: 230px;
    width: calc(100% - 230px);
}
.portfolio_menu li a {
    font-size: 1.0em;
    padding: 4.8% 6.4%;
}
.baner h2 {
    font-size: 1.8em;
}
}
@media screen and (max-width: 764px) {
    .main {
    display: block;
    max-width: 950px;
    width: 100%;
    height: auto;
    padding: 7% 1% 0% 7%;
}
 .portfolio_menu li a {
    padding: 4%;
}
.body-menu li a {
    font-size: 0.85em;
    padding: 8px;
}
.main {
    padding: 5% 8% 0% 8%;
}
.block {
    width: 360px;
    height: auto;
    display: block;
    box-sizing: border-box;
    margin: 0px auto;
    margin-bottom: 4.0%;
    padding-bottom: 19px;
}
.contact {
    height: auto;
}
.contact_forma {
    margin-bottom: 5%;
}
.body-menu li a {
    font-size: 1.2em;
    padding: 15px 15px;
}
}
@media screen and (max-width: 716px) {
    .main {
    position: relative;
}
.right_menu{position:absolute; 
       top:30px;
       right:15%;
	   width: 30px;
	   height: 30px;
		min-height:30px;
		z-index:2000;}
.right_menu ul {
		min-height: 30px;
		padding:5px;
		box-sizing:border-box;
		background:url("../images/icon-menu.png") no-repeat center center;
		}
.portfolio_menu li{clear:both;
	display:none;background-color:#ffffff;
	}
.right_menu ul li a {
		display: block;width:150px;
		padding: 5px 5px;
		text-align: left;
		font-size:1.0em;
		}

 /* при наведении на пункты меню */
	.right_menu ul:hover {position:absolute; 
       top:5px;
       right:45%;
		height:auto;
		background-color:none;
		background-image:none;

	}
	.right_menu ul:hover li {
		width:100%;
		height:auto;
		display: block;
		margin: 0;padding:10px;
		background-color:rgba(255, 255, 255, 0.9);
	}
.main h2 {
    margin-bottom: 5%;
}
}
@media screen and (max-width: 677px) {
    .block_foto {
    margin-bottom: 30px;
}
.aboute p {
    font-size: 1.0em;
}
}
@media screen and (max-width: 630px) {
    .block_info {
    margin-bottom: 7%;
}
.block_info h3 {
    font-size: 1.0em;
    margin-bottom: 10px;
}
 .block_info h5 {
    font-size: 0.7em;
    margin-bottom: 7%;
}
 }
@media screen and (max-width: 590px) {
    .wrapper, .sidebar, .right_content {
    display: block;
}
.left_i {
    display: none;
}
.sidebar {
    width: 100%;
    height: 60px;
}
.blocks {
    text-align: center;
}

.body-menu ul, .body-menu li {
    width: 100%;
}
.body-menu li a {
    box-sizing: border-box;
    width: 100%;
}
.wrapper{position:relative;}
.body-menu{position:fixed; 
       top:0px;
       left:0px;
	   width: 30px;margin-top:15px;margin-left:50px;
	   height: 30px;
		min-height:30px;
		background:url("../images/icon-menu.png") no-repeat center center;
		z-index:5000;}
.body-menu ul{
		min-height: 30px;
		width:30px;
		padding:5px;
		box-sizing:border-box;
		
		}

.body-menu li a {
		display: block;
		padding: 15px 10px;
		text-align: left;
		font-size:1.0em;
		}
	}
 /* при наведении на пункты меню */
	.body-menu:hover{
		 max-width:570; width:100%;
		 margin:auto 2%;
		height:auto;
		background-color: #353541;
	}
	.body-menu li{margin:0;clear:both;width:100%;
	display:none;padding:0; background-color: #353541;
	}
	.body-menu:hover li {
		width:100%;
		height:auto;
		display: block;
		
		 background-color: #353541;
		margin: 0;padding:0px;
		transition: 5s;
		-moz-transition: 5s;
		-webkit-transition: 5s;
		
	}
.block {
    margin-left: 0;
    width: 100%;
}
.block img {
    max-width: 100%;
}
.right_content {
    margin-left: 0;
    width: 100%;
}
.contact {
    height: auto;
    padding-bottom: 0;
}
}
@media screen and (max-width:448px) {
    .baner h2 {
    font-size: 1.5em;
}
}

@media screen and (max-width: 340px) {
    .baner h2 {
    font-size: 1.3em;
}
.baner h5 {
    font-size: 0.9em;
}
}
.tooltip {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}
.widget:hover .tooltip {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}
